* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

header a {
  color: black;
}

header {
  /* padding: 20px; */
  display: block;
  justify-content: center;
}

header .logo {
  text-align: center;
  margin: 2em auto;
}

header .logo a {
  font-size: 3rem;
}

header .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 5px solid tomato;
  padding: 2rem 0;
}

header .menu li {
  margin-left: 10px;
}

header .menu li a {
  padding: 10px;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.posts img {
  max-width: 100%;
  display: block;
}

.posts > div {
  flex: 1 1 300px;
  padding: 10px;
  margin-bottom: 2rem;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: black;
  padding: 50px;
}

footer a {
  color: white;
  padding: 20px;
}
